<section class="search-system">
    <div class="search-system__container container">
        <h2 class="search-system__title title_regular">При необходимости система контроля доступа может быть совмещена с комплексной автоматизированной розыскной системой.</h2>
        <img alt="" class="search-system__image lazy" data-src="static/img/content/search-system.png">
        <p class="search-system__text">Такая система позволяет использовать наиболее эффективные алгоритмы некооперативного распознавания лиц с соответствующими сертификатами.</p>

        <div class="search-system__table-w">
            <table class="search-system__table table table_half">
                <tr class="table__row">
                    <th class="table__header">Технические характеристики МИП 5/МИП 7</th>
                    <th class="table__header">Значение</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Состав комплекта</th>
                    <th class="table__cell">32°С - 45°С</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Интерфейсы</th>
                    <th class="table__cell">ЕНтегпе!: ЮОВазе-ТХ</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Кол-во поддерживаемых устройств Wlegand</th>
                    <th class="table__cell">2 шт.</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Разрядность поддерживаемых карт</th>
                    <th class="table__cell">26,37 бит</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Габариты</th>
                    <th class="table__cell">не более 350x150x50</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Питание</th>
                    <th class="table__cell">8 - 2АУРС</th>
                </tr>

            </table>
        </div>
    </div>
</section>
