<section class="specs">
    <div class="specs__container container">
        <h2 class="specs__title title_regular">Технические характеристики</h2>

        <div class="specs__table-w">

            <table class="specs__table table">
                <tr class="table__row">
                    <th class="table__header">
                        Характеристики
                    </th>
                    <th class="table__header">
                        МИП 5, <br/>исполнение 1
                    </th>
                    <th class="table__header">
                        МИП 5, <br/>исполнение 2
                    </th>
                    <th class="table__header">
                        МИП 7
                    </th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Диагональ экрана</th>
                    <th class="table__cell">5 дюймов (12,7см)</th>
                    <th class="table__cell">5 дюймов (12,7см)</th>
                    <th class="table__cell">7 дюймов (17,78см)</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Интерфейсы</th>
                    <th class="table__cell">Еthегпеt / WIFI</th>
                    <th class="table__cell">Еthегпеt / WIFI</th>
                    <th class="table__cell">Еthегпеt Опционально - 4G/ WIFI / GPS</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Операционная система</th>
                    <th class="table__cell">Linux OS</th>
                    <th class="table__cell">Linux OS</th>
                    <th class="table__cell">Linux OS</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Система распознавания лиц</th>
                    <th class="table__cell">есть</th>
                    <th class="table__cell">нет</th>
                    <th class="table__cell">есть</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Измерение температуры</th>
                    <th class="table__cell">лоб</th>
                    <th class="table__cell">запястье</th>
                    <th class="table__cell">лоб</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Размер базы лиц</th>
                    <th class="table__cell">10 000</th>
                    <th class="table__cell">—</th>
                    <th class="table__cell">10 000</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Трансляция голоса</th>
                    <th class="table__cell">есть</th>
                    <th class="table__cell">есть</th>
                    <th class="table__cell">есть</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Доступ по карте (возможность подключения считывателя)</th>
                    <th class="table__cell">есть</th>
                    <th class="table__cell">есть</th>
                    <th class="table__cell">есть</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Количество событий в базе</th>
                    <th class="table__cell">100 000</th>
                    <th class="table__cell">—</th>
                    <th class="table__cell">100 000</th>
                </tr>

            </table>
        </div>

        <div class="specs__table-w">

            <table class="specs__table table">
                <tr class="table__row">
                    <th class="table__header">Температурный датчик</th>
                    <th class="table__header">Значение</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Датчик температуры</th>
                    <th class="table__cell">32°С - 45°С</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Операционная система</th>
                    <th class="table__cell">±0.4°С</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Система распознавания лиц</th>
                    <th class="table__cell">≤1с</th>
                </tr>

                <tr class="table__row">
                    <th class="table__cell">Измерение температуры</th>
                    <th class="table__cell">25-35см (точка); 25-45см (матрица)</th>
                </tr>


            </table>
        </div>




    </div>
</section>
