<div class="functions">
  <div class="functions__container container">
    <ul class="functions__list flex">
      <li class="functions__item">
        <div class="functions__icon"><img class="lazy" data-src="static/img/content/functions-img-1.png" alt=""></div>
        <div class="functions__text">Сканирование термометром <br/>с регистрацией посетителей, <br/>не прошедших проверку</div>
      </li>
      <li class="functions__item">
        <div class="functions__icon"><img class="lazy" data-src="static/img/content/functions-img-2.png" alt=""></div>
        <div class="functions__text">Идентификация личности <br/>и проверка термометром</div>
      </li>
      <li class="functions__item">
        <div class="functions__icon"><img class="lazy" data-src="static/img/content/functions-img-3.png" alt=""></div>
        <div class="functions__text">Идентификация с контролем <br/>посещаемости и проверка <br/>термометром</div>
      </li>
    </ul>
  </div>
</div>
