<section class="algorithm">
    <div class="algorithm__container container">
        <h2 class="algorithm__title title title_regular">Алгоритм работы:</h2>
        <ul class="algorithm__list flex">
            <li class="algorithm__item flex">
                <div class="algorithm__text">при проходе через турникет посетитель предъявляет карту доступа</div>
            </li>
            <li class="algorithm__item flex">
                <div class="algorithm__text">терминал доступа выделяет лицо, определяет температуру и отправляет фото в биометрический мультиплексор для распознавания</div>
            </li>
            <li class="algorithm__item flex">
                <div class="algorithm__text">если посетитель находится в белом списке и проход разрешен - биометрический мультиплексор передает идентификатор карты на wiegand-вход контроллера доступа</div>
            </li>
            <li class="algorithm__item flex">
                <div class="algorithm__text">контроллер доступа открывает турникет</div>
            </li>
        </ul>
    </div>
</section>
