<section class="about">
    <div class="about__container container">
        <div class="about__entry">
            <h1 class="about__title title">Биометрический мультиплексор <br/>идентификационных признаков МИП5/МИП7</h1>
            <p class="about__text">Предназначен для включения дополнительных идентификационных признаков: лицо, ладонь, отпечаток пальца, повышенная температура тела, наличие маски на лице - в уже существующую систему контроля и управления доступом.</p>
            <p class="about__text">Терминал позволяет обеспечить контроль за состоянием персонала на предприятиях, транспортных узлах, а также за посетителями в магазинах, офисах, учебных и медицинских учреждениях.</p>

        </div>
        <div class="about__row flex">
            <div class="about__image">
                <img class="lazy" data-src="static/img/content/terminal-img.jpg" alt="">
            </div>
            <ul class="about__list">
                <li class="about__item">Автоматическое определение <br/>температуры и наличия медицинской маски</li>
                <li class="about__item">Простота интеграции в уже <br/>работающие системы доступа от различных производителей</li>
                <li class="about__item">Полноценный автономный контроллер доступа</li>
                <li class="about__item">Промышленный дизайн, регулировка угла наклона</li>
                <li class="about__item">Детекция наличия живого лица в кадре <br/>с защитой от фото и видео спуфинга</li>
                <li class="about__item">Поддержка белого/черного списка</li>
                <li class="about__item">Наличие тревожного входа и выхода для <br/>реализации различных сценариев доступа</li>
            </ul>
        </div>
    </div>
</section>